.inventoryHeader {
	text-align: center;
	font-size: 4em;
}

.inventoryText {
	text-align: center;
}

.homeLogin {
	margin: 0 auto;
	display: block;
}

.homeRegister {
	margin: 0 auto;
	display: block;
}