.editButton {
	margin-left: 1em;
	background: $buttonBackground;
	border-radius: 0.5em;
	color: $buttonColor;
}

.deleteButton {
	background: $buttonBackground;
	border-radius: 0.5em;
	color: $buttonColor;
}