.blue {
	background: green;
}

@import 'home',
	    'navigation',
	    'login',
	    'register',
	    'addProduct',
	    'variables';

body {
	background: $bodyBackground;
}

.inventoryApp {
	color: $textColor;
}